body {
    background-color: #dae5e7;
    margin-left: 8em;
    margin-right: 8em;
 }

/* COLOUR PAGE */
/*.title {
	font-size: 72px;
    position:absolute;
}

p.description {
    position: absolute;
    
}*/

.side_description {
    position: absolute;
    top: 10em;
    font-family: DM Sans;
}

h1.title {
    font-size: 5vw;
    margin: 0;
}

h2.paragraph {
    font-size: 1.5vw;
}

div.palette {
	display: grid;
    grid-template-columns: auto auto auto;
	grid-gap: .5em;
	justify-content: end;
	margin-top: 2em;
    font-family: DM Sans, san-serif;
}
div.colour_card {
    border: solid white 8px;
    background-color: white;
    border-radius: 5px;
	width: 15em; 
	height: 22em;
	margin: 1em;          
}

.colour {
    width: 15em;
    height: 15em;
}

.colour_card:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 52em;
}

.colour_card:nth-child(1) > div.colour {
	background-color: #DAE5E7;
    width: 52em;
}

.colour_card:nth-child(2) > div.colour {
	background-color: #6f5f5e;
}

.colour_card:nth-child(3) > div.colour {
	background-color: #FEC397;
}

.colour_card:nth-child(4) > div.colour {
	background-color: #D28A7C;
}

.colour_card:nth-child(5) > div.colour {
	background-color: #6D8C8E;
}

.colour_card:nth-child(6) > div.colour {
	background-color: #8EAAAC;
}

.colour_card:nth-child(7) > div.colour {
	background-color: #f6feff;
}

.hex {
    position: sticky;
    margin-top: 1em;
    margin-left: .5em;
    font-size: 18px;
}



