/* body {
	display: grid;
	grid-template-columns: 18em auto auto;
	grid-gap: 2em;
	justify-content: center;
	margin: 10em;
 } */

 body{
	 margin: 0;
 }

/* NAV BAR */

.nav{
	display: flex;
	justify-content: center;
	background-color: #6f5f5e;
	width: 100%;
	height: 5em;
}

a{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	cursor:pointer; 
	color: #dae5e7;
	margin: 1em;
	font-size: 32px;
	transition: color .5s;
}

a:hover{
	background-color: #6f5f5e;
	color: #6d8c8e;
}

/* COLOUR PAGE */
.title {
	display: flex;
	justify-content: center;
	font-size: 32px;
	margin: 2em;
}

div.palette {
	display: grid;
	grid-template-columns: 18em auto auto;
	grid-gap: 1em;
	justify-content: center;
	margin: 8em;
	margin-top: 5em;
}
div.colour {
	width: 15em; 
	height: 15em;
	margin: 1em;  
	border-radius: 18px;  
	background-color: #888888;         
}

div.colour:first-child {
	background-color: #6f5f5e;
}

div.colour:nth-child(2) {
	background-color: #fec397;
}

div.colour:nth-child(3) {
	background-color: #d2837c;
}

div.colour:nth-child(4) {
	background-color: #6d8c8e;
}

div.colour:nth-child(5) {
	background-color: #aec8ce;
}

div.colour:nth-child(6) {
	background-color: #dae5e7;
}




/* IMAGERY PAGE */
.imageCont{
	background-color: #dae5e7;
	
}

h3{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.icons{
	display: flex;
	justify-content: center;

}

.fa-5x{
	color: #d2837c;
	margin: .2em;
}