body {
    background-color: #dae5e7;
    margin-left: 10em;
    margin-right: 12em;
	margin: 0;
 }


/* GLOBAL FONTS */

.button, li, a.link, h2.title{
	font-family:'Oswald', sans-serif;
	color: #6f5f5e;
}

.title, h3{
	font-family: 'Patrick Hand', cursive;
	color: #6f5f5e;
}

p, div, .normalLink, h1, .names{
	font-family: 'DM Sans', sans-serif;
	color: #6f5f5e;
}


.the_title{
	margin-top: 200px;
	font-size: 72px;
	text-align: center;
	margin-bottom: 0;
}

.names{
	text-align: center;
	margin-bottom: 80vh;
}


/* NAV BAR */

.nav{
	display: flex;
	justify-content: center;
	background-color: #6f5f5e;
	width: 100%;
	height: 5em;
}


a.link{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	cursor:pointer; 
	color: #dae5e7;
	margin: 1em;
	font-size: 32px;
	transition: color .5s;
}

a.link:hover{
	background-color: #6f5f5e;
	color: #6d8c8e;
}

.navLogo{
	position: relative;
	width: 5%;
	left:0;
}

/* COLOUR PAGE */

.color_description {
    margin: 2em;
    font-family: DM Sans;
    color:#6f5f5e;
}

.color_description > h1.color_title {
	font-size: 72px;
	font-weight: bold;
	text-align:center;
    margin: 0;
	font-family: DM Sans;
}

.color_paragraph{
    margin: .5em;
    text-align: center;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
}

div.palette {
	display: grid;
    grid-template-columns: auto auto auto;
	grid-gap: .5em;
	justify-content: center;
	margin-top: 2em;
    font-family: DM Sans, san-serif;
}
div.colour_card {
    border: solid white 8px;
    background-color: white;
    border-radius: 5px;
	width: 15em; 
	height: 21em;
	margin: 1em;          
}

.colour {
    width: 15em;
    height: 15em;
}


.colour_card:nth-child(1) > div.colour {
	background-color: #dae5e7;
}

.colour_card:nth-child(2) > div.colour {
	background-color: #6f5f5e;
}

.colour_card:nth-child(3) > div.colour {
	background-color: #F6FEFF;
}

.colour_card:nth-child(4) > div.colour {
	background-color: #D28A7C;
}

.colour_card:nth-child(5) > div.colour {
	background-color: #8EAAAC;
}

.colour_card:nth-child(6) > div.colour {
    background-color: #6D8C8E;

}

.hex_rgb {
    position: sticky;
    margin-top: 1em;
    margin-left: .5em;
    font-size: 18px;
    margin-bottom: 1em;
    color:#6f5f5e;
}

/* span.colour_description {
    font-size: 16px;
} */

.colour_description {
    visibility: hidden;
  	opacity: 0;
  	transition: visibility 0s, opacity 0.5s linear;
}

.colour:hover > div.colour_description {
    padding: 1em;
    color: #6f5f5e;
	visibility: visible;
  	opacity: 1;
}
.colour_card:nth-child(2) > div.colour  > div.colour_description,
.colour_card:nth-child(6) > div.colour  > div.colour_description,
.colour_card:nth-child(4) > div.colour  > div.colour_description, 
.colour_card:nth-child(5) > div.colour  > div.colour_description{
    color: #F6FEFF;
}




/* Fonts */

.font_cont {
	display:grid;
	grid-template-columns: 0.3fr 0.3fr;
	column-gap: 40px;
	justify-content:center;
	align-items:center;
	text-align:center;
	color:#6f5f5e;
	
}
.font_title {
	font-weight: bold;
	text-align:center;
	font-size: 72px;
	font-family: 'DM Sans', sans-serif;
	margin-bottom: -10px;
	color:#6f5f5e;
}

.patrick, .dmsans, .oswald { 
	width: 300px;
	height: 250px;
	border: 3px solid white;
	margin-bottom: 2em;
	border-radius: 5px;
	padding: 2em;
	display:flex;
	justify-content:center;
	flex-direction: column;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.dmsans > .typo_title {
	font-family: 'DM Sans', sans-serif;
}

.patrick > .typo_title {
	font-family: 'Patrick Hand', cursive;
}

.oswald > .typo_title {
	font-family:'Oswald', sans-serif;
}

.typo_title {
	font-size: 1.5em;
}
.typo_desc{
	font-size: 1em;
	text-align:center;
}

.misc {
	font-size: 28px;
	text-align:center;
	margin-bottom: 1.5em;
	font-family: 'Oswald', sans-serif;
	color:#6f5f5e;
}


hr {
	height:1px;
	width:150px;
	background-color:black;
	margin-top: 0px;
	opacity: 25%;
}

#samples {
	background-color:#F5F5F5;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	align-content:center;
	font-family: 'DM Sans', sans-serif;
	padding: 2em;
	height: 250px;
	width: 300px;
	margin-bottom:2em;
}

.sample_head{
	font-size: 1em;
	margin-bottom: 15px;
}

#patrick_sample {
	font-family:'Patrick Hand', cursive;
}

#dmsans_sample {
	font-family:'DM Sans', sans-serif;
}

.sample_content{
	margin-bottom: 25px;
	font-size: 1em;
}

.oswald_sample {
	width: 250px;
	padding:15px;
	font-size: 1em;
	border-radius:25px;
	background-color:#fec397;
	font-family:'Oswald', sans-serif;
}



#fontbutton_cont {
	display:flex;
	justify-content:center;
	align-items:center;
	align-content:center;
	margin: 0px;
}

#stop_butt{
	font-size: 1em;
	width: 75%;
	margin-bottom: -20px;
}

#menu {
	margin-left: 1.25em;
}


/* IMAGERY PAGE */


.image_title{
	font-size: 72px;
	font-weight: bold;
	text-align:center;
    margin: .4em 0 0 0;
	font-family: DM Sans;
}

h2.title{
	font-size: 42px;
	text-align: center;

}

h3{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.icons, .graphics{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.elements, .menu{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.fa-5x{
	color: #d2837c;
	margin: .2em;
}


.button{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8EAAAC;
	color: #dae5e7;
	font-size: 25px;
	width: 300px;
	height: 50px;
	margin: 1em;
	border-radius: 25px;
	text-decoration: none;
	transition: background-color .5s;
}

a.button{
	margin-bottom: 3em;
}

.buttonSmall{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8EAAAC;
	color: #dae5e7;
	font-size: 18px;
	width: 200px;
	height: 50px;
	margin: 1em;
	border-radius: 25px;
}

.button:hover{
	background-color: #6D8C8E;
	
}

.borders{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

.card {
    border: solid #f6feff 8px;
	background-color: #f6feff;
    border-radius: 5px;
	margin: 1em;   
	
	
	
}

.cardNone{
 

    border-radius: 5px;
	margin: 1em;          
}

.border{

    border: solid #f6feff 8px;
	background-color: #f6feff;
    border-radius: 5px;
	margin: 1em;          
}

.menus{
	display: flex;
	margin:20px;
	justify-content: center;
	
}

.photo{
	border-radius: 8px;
}

.menu{
	margin: 1em;
}

ul{
	padding-inline-start: 0px;
}

li{
	color: #dae5e7;
	text-align: center;
	width: 200px;
	list-style-type: none;
	font-size: 25px;
	background-color: #8EAAAC;
	padding: .5em;
	transition: background-color .5s;
	
}


li.b{
	background-color: #6f5f5e;
	transition: color .5s;
}

li:hover{
	background-color: #6D8C8E;
	
}

li.b:hover{
	background-color: #6f5f5e;
	color: #6d8c8e;
}


.gap{
	margin-bottom: 5em;
}

.text{
	display: flex;
	justify-content: center;
}

.paraText{

	font-size: 18px;
	border: solid #f6feff 8px;
	background-color: #f6feff;
    border-radius: 5px;
	margin: 1em;
	width: 500px;
	height: 140px;   
}

.pic{
	width: 450px;
}

.photo{
 width: 450px;
 
	
}

.ref{
	display: flex;
	justify-content: center;
}


/* LOGO PAGE */


.group1{
	display: block;
    margin-left: auto;
    margin-right: auto
}

.logo{
	padding: 40px;
	width:20%;
	
}

.logoIcon{
	padding: 10px;
	
	width: 5%;
}

.border_logo{
	border: outset 3px #d2837c;
}




.logoCont{
	display:grid;
	grid-template-columns: 0.5fr 0.3fr;
	column-gap: 40px;
	justify-content:center;
	align-items:center;
	text-align:center;
	color:#6f5f5e;
	
}

.logoBox { 



	display:flex;
	justify-content:center;

}

.logo_text{
	text-align: left	;
	font-size: 18px;
}
