body {
    background-color: #dae5e7;
    margin-left: 10em;
    margin-right: 12em;
	margin: 0;
 }


/* GLOBAL FONTS */

.button, li, a{
	font-family:'Oswald', sans-serif;
}

.title, h3{
	font-family: 'Patrick Hand', cursive;
}

p{
	font-family: 'DM Sans', sans-serif;
}


/* NAV BAR */

.nav{
	display: flex;
	justify-content: center;
	background-color: #6f5f5e;
	width: 100%;
	height: 5em;
}

a{
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	cursor:pointer; 
	color: #dae5e7;
	margin: 1em;
	font-size: 32px;
	transition: color .5s;
}

a:hover{
	background-color: #6f5f5e;
	color: #6d8c8e;
}

.navLogo{
	position: absolute;
	width: 5%;
	left:50px;
}

/* COLOUR PAGE */

.color_description {
    margin-top: 2em;
    font-family: DM Sans;
}

.color_description > h1.color_title {
    margin: 2em;
	font-size: 72px;
	font-weight: bold;
	text-align:center;
    margin: 0;
	font-family: DM Sans;
}

.color_paragraph{
    margin: 1em;
    text-align: center;
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
}

div.palette {
	display: grid;
    grid-template-columns: auto auto auto;
	grid-gap: .5em;
	justify-content: center;
	margin-top: 2em;
    font-family: DM Sans, san-serif;
}
div.colour_card {
    border: solid white 8px;
    background-color: white;
    border-radius: 5px;
	width: 15em; 
	height: 21em;
	margin: 1em;          
}

.colour {
    width: 15em;
    height: 15em;
}


.colour_card:nth-child(1) > div.colour {
	background-color: #dae5e7;
}

.colour_card:nth-child(2) > div.colour {
	background-color: #6f5f5e;
}

.colour_card:nth-child(3) > div.colour {
	background-color: #F6FEFF;
}

.colour_card:nth-child(4) > div.colour {
	background-color: #D28A7C;
}

.colour_card:nth-child(5) > div.colour {
	background-color: #8EAAAC;
}

.colour_card:nth-child(6) > div.colour {
    background-color: #6D8C8E;

}

.hex_rgb {
    position: sticky;
    margin-top: 1em;
    margin-left: .5em;
    font-size: 18px;
    margin-bottom: 1em;
}

/* span.colour_description {
    font-size: 16px;
} */

.colour_description {
    display:none;
}

.colour:hover > div.colour_description {
    display:block;
    padding: 1em;
    color: #6f5f5e;
}
.colour_card:nth-child(2) > div.colour  > div.colour_description,
.colour_card:nth-child(6) > div.colour  > div.colour_description {
    color: #F6FEFF;
}




/* Fonts */

.font_cont {
	font-size: 30px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.font_title {
	font-size: 32px;
	font-weight: bold;
	text-align:center;
    margin: 0;
	font-family: DM Sans;
}

.dmsans {
	font-family: 'DM Sans', sans-serif;
}

.patrick {
	font-family: 'Patrick Hand', cursive;
}

.oswald {
	font-family:'Oswald', sans-serif;
}

.dmsans, .patrick, .oswald {
	margin-bottom:2em;
	text-align:center;
}


hr {
	height:2px;
	width: 300px;
	background-color:black;
}


/* IMAGERY PAGE */


h3{
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.icons, .graphics{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.elements, .menu{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.fa-5x{
	color: #d2837c;
	margin: .2em;
}


.button{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8EAAAC;
	color: #dae5e7;
	font-size: 25px;
	width: 300px;
	height: 50px;
	margin: 1em;
	border-radius: 25px;
	transition: background-color .5s;
}

.buttonSmall{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #8EAAAC;
	color: #dae5e7;
	font-size: 18px;
	width: 200px;
	height: 50px;
	margin: 1em;
	border-radius: 25px;
}

.button:hover{
	background-color: #6D8C8E;
	
}

.borders{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

.card {
    border: solid #f6feff 8px;
	background-color: #f6feff;
    border-radius: 5px;
	width: 15em; 
	height: 22em;
	margin: 1em;          
}

.border{

    border: solid #f6feff 8px;
	background-color: #f6feff;
    border-radius: 5px;
	margin: 1em;          
}

.menus{
	margin:20px;
	
}

ul{
	padding-inline-start: 0px;
}

li{
	color: #dae5e7;
	text-align: center;
	width: 200px;
	list-style-type: none;
	font-size: 25px;
	background-color: #8EAAAC;
	padding: .5em;
	transition: background-color .5s;
	
}

li:hover{
	background-color: #6D8C8E;
	
}


.gap{
	margin-bottom: 5em;
}

.paraText{
	float: left;
    position: relative;
    left: 30%;
}

/* LOGO PAGE */

.logo {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(10, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	}
	
	.logo1 { grid-area: 1 / 1 / 2 / 2; }
	.logo2 { grid-area: 2 / 1 / 3 / 2; }
	.logo3 { grid-area: 3 / 1 / 4 / 2; }
	.logo4 { grid-area: 4 / 1 / 5 / 2; }
	.logo5 { grid-area: 5 / 1 / 6 / 2; }
	.logo6 { grid-area: 6 / 1 / 7 / 2; }
	.logo7 { grid-area: 7 / 1 / 8 / 2; }
	.logo8 { grid-area: 8 / 1 / 9 / 2; }
	.logo9 { grid-area: 9 / 1 / 10 / 2; }
	.logo10 { grid-area: 10 / 1 / 11 / 2; }
	.logo11 { grid-area: 1 / 2 / 3 / 3; }
	.logo12 { grid-area: 3 / 2 / 5 / 3; }
	.logo13 { grid-area: 5 / 2 / 7 / 3; }
	.logo14 { grid-area: 7 / 2 / 9 / 3; }
	.logo15 { grid-area: 9 / 2 / 11 / 3; }
	
	
#logoStyle{
	padding: 40px;
	border: outset 3px #d2837c;
	width: 40%;
}
#logoStyleIcon{
	padding: 10px;
	border: outset 3px #d2837c;
	width: 5%;
}


